.add-roll {
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: white;
    filter: drop-shadow(0 0 15px black);   
}

.add-roll svg {
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: var(--main-red);
    border-radius: 0;
}

.add-roll label {
    font-size: 2rem;
}

.add-roll input[type='text'] {
    font-size: 2rem;
    padding: 1rem 2rem;
}

.add-roll input[type='submit']  {
    font-size: 2rem;
    padding: 1rem;
}