.settings {
    width: 80%;
    height: fit-content;
    font-weight: lighter;
    /* background-color: var(--main-white); */
    /* box-shadow: 0 0 15px black; */
    background: rgba(0, 0, 0, 0.849);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px ); */
    border: 1px solid rgba(0, 0, 0, 0.18);
    color: var(--main-white);
    box-shadow: 0 0 10px black;
    padding: 1rem;
}


.photo-settings img {
    width: 100%;
}

.photo-settings div {
    width: 100%;
    aspect-ratio: 1/0.8;
    padding: 1rem;
    background-color: var(--main-white);
    color: var(--main-brown);
}

.photo-settings h3 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.photo-settings h4 {
    font-weight: bolder;
}

.photo-settings h4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
