body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  border-radius: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

html {
  font-size: 10px;
}

#root {
  max-width: 100vw;
  overflow: hidden;
}

li {
  list-style: none;
}

:root {
  --main-orange: #E8850D;
  --main-blue: #085cd4;
  --main-yellow: #ead777;
  --main-brown: #181007;
  --main-red: #e30613;
  --second-yellow: #fab617;
  --main-white: #ffffffd5;
}

hr {
  color: var(--main-brown);  
}